<!DOCTYPE html>
<html>
<head>

<title>Smart Leaf Checker</title>

<style>

body{
font-family: Arial;
background:#eef6e9;
text-align:center;
padding:40px;
}

h1{
color:#2e7d32;
}

button{
background:#5b8c1a;
color:white;
padding:15px 30px;
border:none;
border-radius:30px;
font-size:18px;
}

</style>

</head>

<body>

<h1>Smart Leaf Checker</h1>

<p>Take a photo of plant leaf</p>

<form action="/predict" method="post" enctype="multipart/form-data">

<input type="file" name="file" accept="image/*" capture="environment">

<br><br>

<button type="submit">Take Leaf Photo</button>

</form>

</body>
</html>